.correct {
    color: green;
}
  
.incorrect {
    color: red;
    text-decoration: underline;
}

.container {
    color: white;
    background-color:black;
    padding: 20px;
    border: solid rgb(187, 32, 32);
    border-radius: 10px;
    text-align: center;
}

.container-holder {
    display: flex;
    justify-content: space-around;
}

label {
    color: red;
}